



<h2 class="title-home">Do you need help at home or do you want to help your neighbors?</h2>

<div class="filters">
  <h3>Filters: </h3>
  <button class="filter-option"><a href="/filter?category=household">Household</a></button>
  <button class="filter-option"><a href="/filter?category=garden">Garden</a></button>
  <button class="filter-option "><a href="/filter?category=pets">Pets</a></button>

  <button class="filter-option"><a href="/filter?category=education">Education</a></button>
  <button class="filter-option"><a href="/filter?category=craft">Craft</a></button>
  <button class="filter-option"><a href="/filter?category=voluntary">Voluntary</a></button>
  <button class="filter-option"><a href="/">All</a></button>
</div>

<div class="search-container">
        {{!-- <select class="radius" name="radius" id="radius">
            <option value="5km">5km</option>
            <option value="10km">10km</option>
            <option value="15km">15km</option>
            <option value="20km">20km</option>
        </select> --}}
    <form action="/search" method="POST">
      <input class="search-form" type="text" placeholder="Search for City" name="search">
      <button class="submit-btn" type="submit">Search</button>
    </form>
  </div>

{{#each  adList}}
<a href="/ads/{{_id}}">
<div class="ad-list list table-border">
  <img class ='ad-img' src='images/hammer.png'>
  <p class="bold">{{title}}</p>
  <p>Time: {{time}}h</p>
  <p>Category: {{category}}</p>
  <p class="bold">City: {{address.city}}</p>
  <p class="bold">{{price}}€/Hour</p>
  <p><button class="details-btn">Details</button></p>
</div>
</a>
{{/each}}
