<div class = 'flexbox'>

  <div class = "profil">
    {{#with user}}
      
      <img class = "profileImg" src={{imgPath}} alt="Profile Picture" >
      <h4 class="bold">{{ username }}</h4>
      <p>{{email}}</p>
      <p>{{address.street}} {{address.number}}</p>
      <p>{{address.zipcode}} {{address.city}}</p>
      <button class="details-btn">
        <a href="/userProfile/edit">Edit Profile</a>
      </button>
    {{/with}}
  </div>


  <div class = "adsspace">
    {{#each  ad}}
      <a href="/ads/{{_id}}">
      <div class="testUser">
      <img class ='ad-img' src='/images/hammer.png'>
      <p class="bold">{{title}}</p>
      <p>Time: {{time}}h</p>
      <p class="bold">Zipcode: {{address.city}}</p>
      <p class="bold">Salary: {{price}}€/h</p>
      <button class="details-btn">Details</button>
      </div>
      </a>
    {{/each}}
  </div>
</div>