{{#with ad}}
<div class="details">
	<img src="/images/hammer.png" class="details-img">
	<h1 class="details-title">{{title}}</h1>
	<div class="details-row">
		<div class="details-pad details-font">Category: {{category}}</div>
		<div class="details-pad details-font">Time: {{time}}h</div>
    	<div class="details-pad details-font">Date: {{date}}</div>
		<div class="details-pad details-font">City: {{address.city}}</div>
	</div>
	{{!-- <div class="details-row">
		<div class="details-pad details-font">Address:</div>
    	<div class="details-pad details-font">{{address.street}} {{address.number}}</div>
    	<div class="details-pad details-font">{{address.zipcode}} {{address.city}}</div>
	</div> --}}
	<h3 class="details-price details-font">Price: {{price}}€</h3>
	
	<p class="details-font ">Description:</p>
	<p class="details-font description-pad">{{description}}</p>
	
	<div class="details-row">
		<button class="details-btn description-pad"><a href="/ads/edit/{{_id}}">Edit this ad</a></button>
		<button class="details-btn description-pad"><a href="/ads/delete/{{_id}}">Delete this ad</a></button>	
	</div>
	<div>
		<button class="details-btn description-pad"><a href="/ads/edit/{{_id}}">Send message</a></button>
	</div>
</div>
{{/with}}