<h1>Edit this ad</h1>
{{#with ad}}
<form action="/ads/edit/{{_id}}" method="POST">

	<div class = 'createAdForm'>

	<input class = 'createAd' type="text" name="title" id="title" placeholder="Title" value="{{title}}">

    <select class = 'createAd' name="category">
		
            <option value="">-Category-</option>
			<option value="household">Household</option>
            <option value="garden">Garden</option>
            <option value="pets">Pets</option>
            <option value="education">Education</option>
            <option value="craft">Craft</option>
            <option value="voluntary">Voluntary</option>
            <option value="other">Other</option>
		
	</select>

	<input class = 'createAd' type="number" name="time" id="time" placeholder="Time" value="{{time}}">

	<label for="date">Date: </label>
	<input class = 'createAd' type="date" name="date" id="date" value="{{date}}">

    <label for="date">Address: </label>
<div class= 'adAddress'>
	
	<input class = 'createAd' type="text" name="street" id="street" placeholder="Street" value="{{address.street}}">

	<input class = 'createAdNum' type="number" name="number" id="number" placeholder="Number" value="{{address.number}}">
</div>
<div class= 'adAddress'>
	<input class = 'createAdNum' type="number" name="zipcode" id="zipcode" placeholder="Zipcode" value="{{address.zipcode}}">

	<input class = 'createAd' type="text" name="city" id="city" placeholder="City" value="{{address.city}}">
</div>
	<textarea class = 'adDescription' type="text" name="description" id="description" placeholder="Description" rows="10" cols="50">{{description}}</textarea>


	<input class = 'adPrice' type="number" name="price" id="price" placeholder="Price per hour" value="{{price}}">

	<button class="details-btn" type="submit">Edit this ad</button>
</div>

</form>
{{/with}}